$footer-color: #294d82;
$footer-spacing: 20px;

.footer-section {
  padding-top: $footer-spacing;

  background-color: $footer-color;
  color: #ddd;

  address {
    img {
      height: 80px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  @extend .mt-auto;

  .social-media-links {
    display: flex;
    align-items: center;
    justify-content: start;

    & > a {
      margin-right: 1rem;
    }
  }

  .footer-image-wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
}

.copyright-section {
  background-color: darken($footer-color, 15);
  color: #ddd;
  padding: $footer-spacing/3 0;
  margin-top: $footer-spacing;

  .back-to-top {
    color: #fff;
  }

  .nav-link {
    color: #fff;
  }
}
